In [52]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [53]:
print('Write an skill you want to search for? (Eg: python, sql, data analysis, etc..)')
search_skill = input('>')
print(f"Filtering out jobs for: {search_skill}")

Write an skill you want to search for? (Eg: python, sql, data analysis, etc..)
Filtering out jobs for: python

#### Saving jobs in a list after filtering

In [54]:
all_jobs = []

for page_num in range(1,22):
   url = requests.get('https://www.timesjobs.com/candidate/job-search.html?from=submit&luceneResultSize=25&txtKeywords=python&postWeek=60&searchType=personalizedSearch&actualTxtKeywords=' + search_skill + '&searchBy=0&rdoOperator=OR&pDate=I&sequence=' + str(page_num) + '&startPage=1')
   soup = BeautifulSoup(url.content, 'html.parser')
   jobs = soup.find_all('li', class_ = 'clearfix job-bx wht-shd-bx')
   # print(jobs)
   for job in jobs:
      published_date = job.find('span', class_ = 'sim-posted').span.text
      # print(published_date)
      company_name = job.find('h3', class_ = 'joblist-comp-name').text.strip()
      # print(company_name)
      skills = job.find('span', class_ = 'srp-skills').text.replace(' ', '').strip().title() 
      # print(skills)  
      job_description = job.find('ul', class_ = 'list-job-dtl clearfix').find('li').text[18:]
      # print(job_description)
      location = job.find('ul', class_= 'top-jd-dtl clearfix').find('span').text
      # print(location)
      job_link = job.header.h2.a['href'].strip()
      # print(job_link)
      if search_skill.title() in skills:
         # all_jobs.append([company_name, published_date, location, skills, job_description, job_link])
         all_jobs.append([company_name, published_date, location, skills, job_description, job_link])
   
print(len(all_jobs))

478

#### Writing to CSV file

In [55]:
df = pd.DataFrame(all_jobs, columns=['Company Name', 'Published Date', 'Location', 'Skills Required', 'Job Description', 'Apply link'])
df.head()

,Company Name,Published Date,Location,Skills Required,Job Description,Apply link
0,east india securities ltd.,Posted 3 days ago,Kolkata,"Python,Hadoop,Machinelearning",job_description 2 years of experience worki...,https://www.timesjobs.com/job-detail/python-en...
1,DREAMAJAX TECHNOLOGIES,Posted 4 days ago,Bengaluru / Bangalore,"Python,Django,Api,Sql,Nosql",PYTHON DEVELOPER B.E / B.Tech / MCA / M....,https://www.timesjobs.com/job-detail/python-de...
2,INFINITY GROUP,Posted few days ago,Noida/Greater Noida,"Python,Css,Django,Html,Bootstrap",DescriptionPosition: PYTHON DeveloperNo. of Re...,https://www.timesjobs.com/job-detail/python-de...
3,InnOvator Web Solutions Pvt.Ltd.,Posted 4 days ago,Mumbai,"Rest,Python,Django,Webdeveloper,Mysql,Api",Job Category: DevelopmentJob Type: Full TimeJo...,https://www.timesjobs.com/job-detail/python-de...
4,AxisTechnolabs,Posted 4 days ago,Ahmedabad,"Python,Django,Itskills,Html5,Api,Jquery",Responsibilities : We are looking for Freshers...,https://www.timesjobs.com/job-detail/python-od...

In [58]:
df.to_csv('Job_scraping(TIMESJOB_site).csv', index=False, encoding='utf8')